html {
  transition: all 400ms ease-out;
}

main {
  min-height: 80vh;
}

h3 {
  color: #444;
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

.rounded.hover-product--list {
  transition: all 500ms ease-in-out;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.2);
}

.rounded.hover-product--list:hover {
  transition: all 900ms ease-in-out;
  border-radius: 8px;
  background: linear-gradient(225deg, #ffffff, #e6e6e6);
  box-shadow: -32px 32px 64px #d9d9d9, 32px -32px 64px #ffffff;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

#root > header > nav {
  background-color: #222 !important;
}

#root > main > div > div > div.col-md-6 > img {
  border-radius: 8px;
  background: linear-gradient(225deg, #ffffff, #e6e6e6);
  box-shadow: -32px 32px 64px #d9d9d9, 32px -32px 64px #ffffff;
}

#root > main > div > div > div > div {
  transition: all 500ms ease-in-out;

  border-radius: 8px;
  background: linear-gradient(225deg, #e6e6e6, #ffffff);
  box-shadow: -32px 32px 64px #d9d9d9, 32px 32px 40px #ffffff;
  padding-bottom: 20px;
}

#root > header > nav {
  transition: all 500ms ease-in-out;
  background: linear-gradient(225deg, #222, #333);
  box-shadow: -02px 02px 64px #d9d9d9, 02px -2px 24px #ffffff;
}
#root > main > div > div > div > div:hover {
  transition: all 500ms ease-in-out;

  border-radius: 8px;
  background: linear-gradient(225deg, #e6e6e6, #ffffff);
  box-shadow: -02px 02px 64px #d9d9d9, 02px -2px 24px #ffffff;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: rgb(16, 15, 15);
}

.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}
