html {
  transition: all 400ms ease-out;
}

main {
  min-height: 80vh;
}

h3 {
  color: #444;
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

.rounded.hover-product--list {
  transition: all 500ms ease-in-out;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.2);
}

.rounded.hover-product--list:hover {
  transition: all 500ms ease-in-out;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

#root > header > nav {
  background-color: #222 !important;
}
